{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
    <p>
        Si un compte existe avec cet email, alors un email vient de votre être envoyé contenant un lien de réinitialisation.
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous n'avez pas reçu d'email, vérifiez vos spams <a href="{{ path('app_forgot_password_request') }}">Renvoyer</a>.</p>
{% endblock %}
