<form method="post" action="{{ path('app_logement_delete', {'id': logement.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce logement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ logement.id) }}">
    <button class="btn">Supprimer</button>
</form>
