{% extends 'base.html.twig' %}

{% block title %}Edit Logement{% endblock %}

{% block body %}
    <h1>Edit Logement</h1>

    {{ include('logement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_logement_index') }}">back to list</a>

    {{ include('logement/_delete_form.html.twig') }}
{% endblock %}
