<form method="post" action="{{ path('app_address_delete', {'id': address.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette adresse ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ address.id) }}">
    <button class="btn">Supprimer</button>
</form>
